@model Lab1.Models.Rooms

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rooms</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.floor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.floor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameRoom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameRoom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Вернуться назад", "Index")
</p>
