@model IEnumerable<Lab1.Models.Violation>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdStudent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdViolation)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
    <tr>
        <td>

        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdStudent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdViolation)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Подробно", "Details", new { id = item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
        </td>
    </tr>
    }
    
    </table>
</body>
</html>
