@model Lab1.Models.Contract



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Подробно</title>
</head>
<body>
    <div>
        <h4>Контракт</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.number)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.number)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateIn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateIn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateOut)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOut)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cost)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cost)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NewStudentID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NewStudentID)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NewRoomID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NewRoomID)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Изменить", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Вернуться назад", "Index")
    </p>
</body>
</html>
