@model Lab1.Models.LeaveRooms



<div>
    <h4>Жилые комнаты</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumberRoom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberRoom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberFloor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberFloor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Вернутся назад", "Index")
</p>
