
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminPanel</title>
</head>
<body>
    <div>
        <li>@Html.ActionLink("Помещения", "Index", "Rooms")</li>
    </div>
    <div>
        <li>@Html.ActionLink("Студенты", "Index", "NewStudents")</li>
    </div>
    <div>
        <li>@Html.ActionLink("Жилые комнаты", "Index", "Contracts")</li>
    </div>
    <div>
        <li>@Html.ActionLink("Контракты", "Index", "LeaveRooms")</li>
    </div>
    <div>
        <li>@Html.ActionLink("Нарушевшие", "Index", "Violations")</li>
    </div>
    <div>
        <li>@Html.ActionLink("Нарушения", "Index", "ViolationContents")</li>
    </div>
</body>
</html>
